.button {
  font-size: 10px;
  text-decoration: none;
  padding: 7px 12px;
  font-weight: 500;
  background: none;
  border: 2px solid crimson;
  color: crimson;
}

.secondary {
  @extend .button;
  
  background-color: crimson;
  color: #fff;
}