.listItem__wrapper {
  list-style: none;
  padding: 50px 30px;
  margin: 0;
  display: flex;
  align-items: center;
}

.listItem__image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 30px;
}

.listItem__name {
  color: crimson;
  font-weight: 700;
}

.listItem__description {
  font-weight: 300;
  margin: 10px 0 20px;
}

.listItem__button {
  padding: 20px;
  font-weight: 500;
  background: none;
  border: 2px solid crimson;
  color: crimson;
  text-decoration: none;
  display: block;
}